 <h3 class="text-center mt-3">Ask a question</h3>
 <hr class="w-50 mx-auto">
    <div class="container mt-5 w-75" id="questions">

        <form action="/save" method="post">
        
            <label for="ititle" class="form-label fw-bold mt-3">Title</label>
            <input type="text" name="title" id="ititle" placeholder="What's your question?" class="form-control" required>
            
            <label for="ibody" class="mt-5 fw-bold">Body</label>
            <textarea name="body" id="ibody" cols="30" rows="10" class="form-control" placeholder="Type your question!" required style="height: 140px;"></textarea>
        
            <button type="submit" class="btn btn-success mt-5">To send</button>
        
        
        </form>
    </div>
